[submodule "speech-whisper/src/main/cpp/whisper.cpp"]
	path = speech-whisper/src/main/cpp/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "sportskapi"]
	path = sportskapi
	url = /Users/kannan/pebble/sportskapi
